.product_item {
  cursor: pointer;
  border-radius: 15px;
  box-shadow: 8px 7px 20px 9px rgba(80, 80, 80, 0.1);
}

.product_img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
}

.product_img img {
  object-fit: contain;
  height: 90%;
  padding: 20px;
}

.product_info h3 {
  font-size: 1.1rem;
  color: var(--primary-color);
  font-weight: 600;
  margin-top: 15px;

}

.product_info a:hover {
  color: inherit;
}

.product_info span {
  font-size: 1rem;
}

.product_card-bottom .price {
  color: var(--primary-color);
  font-size: 1.2rem;
  font-weight: 500;
}

.product_card-bottom span i {
  font-size: 1.2rem;
  padding: 5px;
  background: var(--primary-color);
  color: #fff;
  border-radius: 50%;
}

@media only screen and (max-width: 992px) {
  .product_info h3 a {
    font-size: 1.1rem;
    word-wrap: break-word;
  }
}

@media only screen and (max-width: 768px) {
  .product_info h3 a {
    font-size: .9rem;
    word-wrap: break-word;
  }

  .product_card-bottom span i {
    font-size: 1rem;
  }
}