.footer {
  padding-top: 60px;
  padding-bottom: 30px;
  background: var(--primary-color);
}

.footer_text {
  line-height: 30px;
}

.footer_links ul li {
  background: transparent !important;
  color: rgba(255, 255, 255, 0.8);
}

.footer_links ul li a {
  color: rgba(255, 255, 255, 0.8);
}

.links_title {
  margin-bottom: 20px;
  color: #fff;
  font-size: 1.1rem;
}

.list-group span {
  margin-bottom: 1rem;
}

.footer_links p {
  color: rgba(255, 255, 255, 0.8);
}
.ScrollToTop {
  background: #d6f5fb !important;
  border: 2px solid var(--primary-color);
}
