.table tr td img {
  width: 80px !important;
  object-fit: cover;
}
th,
td {
  color: var(--primary-color);
}
td i {
  cursor: pointer;
}
button a {
  text-decoration: none;
  color: unset;
}
button a:hover {
  color: unset;
}
